main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.main_item_container {
    min-height: 70%;
    width: 30%;
    background-color: #525252;
    margin: 0 25px;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}