main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.main_item_container {
  min-height: 70%;
  width: 25%;
  background-color: #525252;
  margin: 0 10px;
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-block {
  width: 30%;
  min-height: 70%;
  background-color: #525252;
  margin: 25px 25px;
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .main_item_container {
    width: 30%;
  }

  .main-block {
    width: 40%;
    margin: 25px 5px;
  }
}

@media screen and (max-width: 1023px) {
  main {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .main_item_container {
    min-height: unset;
    width: 80%;
    padding: 42px 20px 40px;
  }
}
