.bets-table {
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  min-height: 70%;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0px;
  background: #133252;
  table-layout:fixed;
}

.bets-table .thead {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 40px;
  color: #7d9cc6;
  background: #275789;
  font-size: 15px;
  position: relative;
}

.td,
.th {
  box-sizing: border-box;
  height: 32px;
  padding: 8px 0px;
  text-align: left;
}

.bets-table .tbody {
  padding-left: 40px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  color: white;
  height: 320px;
}

.bets-table .tr {
  overflow: hidden;
}

.bets-table .icon {
  background-color: #fec41c;
  border-radius: 50%;
  width: 11.51px;
  height: 11.51px;
}
.bets-table .icon img {
  width: 11.51px;
  height: 11.51px;
}

.bets-table .bet,
.bets-table .profit {
  display: inline-block;
  margin-left: 4px;
}

.bets-table .green {
  color: #73fc7f;
}

.bets-table .red {
  color: #fd7979;
}

.loading {
  color: white;
}
