.table {
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  min-height: 70%;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0px;
  background: #133252;
}

.table thead {
  color: #7d9cc6;
  background: #275789;
  font-size: 15px;
  z-index: 10;
  position: relative;
}

td,
th {
  padding: 8px 0px 8px 40px;
  text-align: left;
}

.table tbody {
  color: white;
}

.table .icon {
  background-color: #fec41c;
  border-radius: 50%;
  width: 11.51px;
  height: 11.51px;
}
.table .icon img {
  width: 11.51px;
  height: 11.51px;
}

.table .bet,
.table .profit {
  display: inline-block;
  margin-left: 4px;
}

.table .green {
  color: #73fc7f;
}

.table .red {
  color: #fd7979;
}

.loading {
  color: white;
}

.table .new {
  animation: slide-up 1s ease;
  position: relative;
  z-index: -1;
}

@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
